body
{
	background-color:#000000;
}

.style1 
{
	font-family:Arial, Helvetica, sans-serif; font:large;
	color:#FFFFFF; 
	border:#000000; 
}

A:link {text-decoration: none}
A:visited {text-decoration: none; color: white;}
A:active {text-decoration: none}
A:hover {text-decoration: underline overline; color: white;}